{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
                          clj-commons/pomegranate {:git/url "https://github.com/clj-commons/pomegranate.git"
                                                   :git/sha "4db42b2091f363bff48cbb80bc5230c3afa598d9"}}
                   :ns-default build}}}
